<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 성공</title>
</head>
<body style="text-align:center">
    <h2>회원가입 성공</h2>
    <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
</body>
</html>